.header{
    margin-top: 50px;
    text-align: center;   
}

.content{
    margin-top: 30px;
    gap: 15px;
    text-align: center;
}

.content-item{
    width: 165px;
    height: 230px;
}

.content-item:hover{
    cursor: pointer;
}

.calculator-image{
    background-color: #000;
    width: 165px;
    height: 165px;
    margin-bottom: 5px;
}